.DS_Store
__pycache__
/output
/new
/scripts/*
*.npz
paper/tex/k2.aux
paper/tex/k2.log
paper/tex/k2.out
paper/tex/k2Notes.bib
paper/tex/k2.bbl
paper/tex/k2.blg
paper/tex/k2.pdf
paper/tex/texput.log
_*.py
_*.tsv
*.pyc
docs/.build
fits
/dist
/*.egg-info