include README.md
include everest/missions/*/*.pbs
include everest/missions/*/tables/*.stars
include everest/missions/*/tables/*.cdpp
include everest/missions/*/tables/*.out
include everest/missions/*/tables/*.tsv
